version: '3'

services:
  business-cockpit-mongo:
    image: mongo:4.4
    container_name: business-cockpit-mongo
    restart: "no"
    ports:
      - "27017:27017"
    entrypoint: [ "/usr/bin/mongod", "--replSet", "rs-business-cockpit", "--bind_ip_all" ]
  business-cockpit-mongo-setup:
    image: business-cockpit-mongo-setup
    build: ./mongo/
    container_name: business-cockpit-mongo-setup
    restart: "no"
    depends_on:
      - business-cockpit-mongo
    volumes:
       - "./mongo:/config"
  verdaccio:
    build: ./verdaccio/
    container_name: 'verdaccio'
    restart: "no"
    networks:
      - node-network
    environment:
      - VERDACCIO_PORT=4873
    ports:
      - '4873:4873'
    volumes:
      - ./verdaccio/conf:/verdaccio/conf
networks:
  node-network:
    driver: bridge

