name: Publish to GitHub Packages
on: push
jobs:
  delete-snapshot-npm-bc-official-gui-client:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-official-gui-client/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-official-gui-client'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  delete-snapshot-npm-bc-shared:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: delete-snapshot-npm-bc-official-gui-client
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-shared/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-shared'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  delete-snapshot-npm-bc-ui:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: delete-snapshot-npm-bc-shared
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-ui/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-ui'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  delete-snapshot-npm-bc-dev-shell:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: delete-snapshot-npm-bc-ui
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-dev-shell/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-dev-shell'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  delete-snapshot-npm-bc-ui-types:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: delete-snapshot-npm-bc-dev-shell
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-ui-types/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-ui-types'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  delete-snapshot-npm-bc-ui-grommet:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: delete-snapshot-npm-bc-ui-types
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            pom.xml
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - id: get-version
        uses: jactions/maven-version@v1.2.0
      - id: get-package-id
        run: |
          VERSIONS=$(curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -L https://api.github.com/orgs/vanillabp/packages/npm/bc-ui-grommet/versions)
          ID=$(echo $VERSIONS | jq --exit-status '.[] | select(.name == "${{ steps.get-version.outputs.version }}") | .id')
          echo "PACKAGE_ID=${ID:-not-found}" >> $GITHUB_ENV
      - uses: actions/delete-package-versions@v4.1.1
        with:
          package-name: 'bc-ui-grommet'
          package-type: 'npm'
          package-version-ids: ${{ env.PACKAGE_ID }}
  publish:
    runs-on: ubuntu-latest
    needs: delete-snapshot-npm-bc-ui-grommet
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@vanillabp'
          always-auth: true
      - name: Publish package
        run: mvn -s $GITHUB_WORKSPACE/.github/workflows/github-packages-settings.xml --batch-mode deploy -Dnpm.registry=https://npm.pkg.github.com/
        env:
          USER_NAME: ${{ secrets.VANILLABP_USER_NAME }}
          USER_TOKEN: ${{ secrets.VANILLABP_USER_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_userconfig: ${{ github.workspace }}/.npmrc
          CI: false
